@charset "UTF-8";

:root{
    --corfundo: rgb(10, 223, 152);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {text-align: center;}
#pesos {
    height: 68vh;
    position: relative;
    background-color: var(--corfundo);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 10vh;
    
}

.conteiner {
    background-color: aquamarine;
    padding: 1em;
    height: 300px; 
    text-align: center;
    align-items: flex-start; 
    bottom: 0px;
}
.altura {
    display: block;
    height: 368px;
}
.ceb-23 {
    width: 346px;
    flex-grow: .2;
    flex-shrink: 1;
    background: url(../imagens/BR-23.png) ;
    background-repeat: no-repeat;
    background-position: bottom center;   
}
.ceb-23:hover {
    background: url(../imagens/BR-24.png) ;
    background-repeat: no-repeat;
    background-position: bottom center;
}
.s23::after {
    content: attr(data-content);
    position: absolute;
    transform: translate(-10vw);
    padding-top: 368px;}
.ceb-33 {
    width: 246px;
    flex-grow: .2;
    flex-shrink: 1;
    background: url(../imagens/BR-33.png) ;
    background-repeat: no-repeat;
    background-position: bottom center;
}
.ceb-33:hover {
    background: url(../imagens/BR-34.png) ;
    background-repeat: no-repeat;
    background-position: bottom center;
}
.s33::after {
    content: attr(data-content);
    position: absolute;
    transform: translate(-7vw);
    padding-top: 368px;}

.ceb-43 {
    width: 148px;
    flex-grow: .2;
    flex-shrink: 1;
    background: url(../imagens/BR-43.png) ;
    background-repeat: no-repeat;
    background-position: bottom center;
}
.ceb-43:hover {
    background: url(../imagens/BR-44.png) ;
    background-repeat: no-repeat;
    background-position: bottom center;
}
.s43::after {
    content: attr(data-content);
    position: absolute;
    transform: translate(-5.5vw);
    padding-top: 368px;}
.ceb-53 {
    width: 97px;
    flex-grow: .2;
    flex-shrink: 1;
    background: url(../imagens/BR-53.png) ;
    background-repeat: no-repeat;
    background-position: bottom center;
}
.ceb-53:hover {
    background: url(../imagens/BR-54.png) ;
    background-repeat: no-repeat;
    background-position: bottom center;
}
.s53::after {
    content: attr(data-content);
    position: absolute;
    transform: translate(-5.5vw);
    padding-top: 368px;}
.ceb-63 {
    width: 64px;
    flex-grow: .2;
    flex-shrink: 1;
    background: url(../imagens/BR-63.png) ;
    background-repeat: no-repeat;
    background-position:bottom center;
}
.ceb-63:hover {
    background: url(../imagens/BR-64.png) ;
    background-repeat: no-repeat;
    background-position: bottom center;
}
.s63::after {
    content: attr(data-content);
    position: absolute;
    transform: translate(-4.1vw);
    padding-top: 368px;}
.ceb-73 {
    width: 47px;
    flex-grow: .2;
    flex-shrink: 1;
    background: url(../imagens/BR-73.png) ;
    background-repeat: no-repeat;
    background-position: bottom center;
}
.ceb-73:hover {
    background: url(../imagens/BR-74.png) ;
    background-repeat: no-repeat;
    background-position: bottom center;
}
.s73::after {
    content: attr(data-content);
    position: absolute;
    transform: translate(-3.0vw);
    padding-top: 368px;}
.ceb-83 {
    width: 47px;
    flex-grow: .2;
    flex-shrink: 1;
    background: url(../imagens/BR-83.png) ;
    background-repeat: no-repeat;
    background-position: bottom center;
}
.ceb-83:hover {
    background: url(../imagens/BR-84.png) ;
    background-repeat: no-repeat;
    background-position: bottom center;
}
.s83::after {
    content: attr(data-content);
    position: absolute;
    transform: translate(-2.1vw);
    padding-top: 368px;}

#botao {
    position: absolute;
    padding-left: 10vw;
    padding-top: 445px;
}

input[type="checkbox"]{
    position: relative;
    width: 36px;
    height: 18px;
    -webkit-appearance: none;
    background-color: rgba(0, 0, 0, 0.651);
    border-top: 1px solid rgba(0, 0, 0, 0.212);
    border-right: 1px solid rgba(0, 0, 0, 0.212);
    border-bottom: 1px solid rgba(255, 255, 255, 0.411);
    outline: none;
    border-radius: 8px;
    box-shadow: inset 0 0 1px rgba(128, 128, 128, 0.418);
    transition: .2s;
}
input[type="checkbox"]::before{
    content: '';
    position:absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background-color: white;
    transform: translate(-4px, -3px) scale(1.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.205);
    transition: .2s;
}
input[type="checkbox"]:hover::before{
    transform: scale(1.1) translate(-2px, -1px);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.301);
}
input:checked[type="checkbox"]::before{left: 20px;}
input:checked[type="checkbox"]{background-color: rgba(128, 255, 0, 0.555);}

#descrition{ background-color: var(--corfundo);padding-top: 60px; padding-bottom: 6vh;}
.explication {
    column-count: 2;
    column-gap: 2.8em;
    width: 64vw;
    margin: auto;
    font-size: 1.12em;
    line-height: 1.35em;
    text-align: justify;
}
@media screen and (min-width: 1600px){
    #pesos {
        height: 35vh;
        display: flex;
        padding-top: 8vh;
    }
    .altura {
        display: block;
        height: 340px; }
        .ceb-23 {
        width: 396px;
        background: url(../imagens/1.2x/BR-23.png);
        flex-shrink: 1;
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-23:hover {
        background: url(../imagens/1.2x/BR-24.png);
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-33 {
        width: 240px;
        background: url(../imagens/1.2x/BR-33.png);
        flex-shrink: 1;
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-33:hover {
        background: url(../imagens/1.2x/BR-34.png);
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-43 {
        width: 177px;
        background: url(../imagens/1.2x/BR-43.png);
        flex-shrink: 1;
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-43:hover {
        background: url(../imagens/1.2x/BR-44.png);
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-53 {
        width: 110px;
        background: url(../imagens/1.2x/BR-53.png);
        flex-shrink: 1;
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-53:hover {
        background: url(../imagens/1.2x/BR-54.png);
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-63 {
        width: 67px;
        background: url(../imagens/1.2x/BR-63.png);
        flex-shrink: 1;
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-63:hover {
        background: url(../imagens/1.2x/BR-64.png);
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-73 {
        width: 60px;
        background: url(../imagens/1.2x/BR-73.png);
        flex-shrink: 1;
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-73:hover {
        background: url(../imagens/1.2x/BR-74.png);
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-83 {
        width: 54px;
        background: url(../imagens/1.2x/BR-83.png);
        flex-shrink: 1;
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-83:hover {
        background: url(../imagens/1.2x/BR-84.png);
        background-repeat: no-repeat;
        background-position: bottom center;}

    #botao {
        position: absolute;
        padding-left: 6vw;
        padding-top: 35vh;
    }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
    #pesos {
        height: 65vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-top: 5vh; }
    .conteiner {
        padding: .65em;
        height: 200px; }
    .altura {
        display: block;
        height: 300px;    }
    .ceb-23 {
        width: 286px;
        background: url(../imagens/0.7x/BR-23.png);
        flex-shrink: 1;
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-23:hover {
        background: url(../imagens/0.7x/BR-24.png);
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-33 {
        width: 173px;
        background: url(../imagens/0.7x/BR-33.png);
        flex-shrink: 1;
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-33:hover {
        background: url(../imagens/0.7x/BR-34.png);
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-43 {
        width: 117px;
        background: url(../imagens/0.7x/BR-43.png);
        flex-shrink: 1;
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-43:hover {
        background: url(../imagens/0.7x/BR-44.png);
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-53 {
        width: 90px;
        background: url(../imagens/0.7x/BR-53.png);
        flex-shrink: 1;
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-53:hover {
        background: url(../imagens/0.7x/BR-54.png);
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-63 {
        width: 67px;
        background: url(../imagens/0.7x/BR-63.png);
        flex-shrink: 1;
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-63:hover {
        background: url(../imagens/0.7x/BR-64.png);
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-73 {
        width: 60px;
        background: url(../imagens/0.7x/BR-73.png);
        flex-shrink: 1;
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-73:hover {
        background: url(../imagens/0.7x/BR-74.png);
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-83 {
        width: 54px;
        background: url(../imagens/0.7x/BR-83.png);
        flex-shrink: 1;
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-83:hover {
        background: url(../imagens/0.7x/BR-84.png);
        background-repeat: no-repeat;
        background-position: bottom center;}
    #botao {
            position: absolute;
            padding-left: 4vw;
            padding-top: 46vh;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    #pesos {
        height: 40vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-top: 5vh;
    }
    .conteiner {
        padding: .5em;
        height: 200px; 
    }
    .altura {
        display: block;
        height: 210px;
    }
    .ceb-23 {
        width: 204px;
        background: url(../imagens/0.5x/BR-23.png);
        flex-shrink: 1;
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-23:hover {
        background: url(../imagens/0.5x/BR-24.png);
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-33 {
        width: 124px;
        background: url(../imagens/0.5x/BR-33.png);
        flex-shrink: 1;
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-33:hover {
        background: url(../imagens/0.5x/BR-34.png);
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-43 {
        width: 83px;
        background: url(../imagens/0.5x/BR-43.png);
        flex-shrink: 1;
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-43:hover {
        background: url(../imagens/0.5x/BR-44.png);
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-53 {
        width: 68px;
        background: url(../imagens/0.5x/BR-53.png);
        flex-shrink: 1;
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-53:hover {
        background: url(../imagens/0.5x/BR-54.png);
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-63 {
        width: 50px;
        background: url(../imagens/0.5x/BR-63.png);
        flex-shrink: 1;
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-63:hover {
        background: url(../imagens/0.5x/BR-64.png);
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-73 {
        width: 48px;
        background: url(../imagens/0.5x/BR-73.png);
        flex-shrink: 1;
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-73:hover {
        background: url(../imagens/0.5x/BR-74.png);
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-83 {
        width: 45px;
        background: url(../imagens/0.5x/BR-83.png);
        flex-shrink: 1;
        background-repeat: no-repeat;
        background-position: bottom center;}
    .ceb-83:hover {
        background: url(../imagens/0.5x/BR-84.png);
        background-repeat: no-repeat;
        background-position: bottom center;}
    #botao {
            position: absolute;
            padding-left: 4vw;
            padding-top: 45vh;
    }
}